.logo {
    margin-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    transition: 500ms;
}

.logo:hover {
    transition: ease-in 500ms;
    transform: scale(1.1);
}

.nadpis {
    color: rgb(226, 101, 43);
    font-family: 'Permanent Marker', cursive !important;
}

.about2 {
    border-bottom: 1px solid white;
}

.about {
    font-size: 20px;
}

.about span {
    color: rgb(226, 101, 43);
}

.btn-orange {
    color: white !important;
    background-color: rgb(226, 101, 43) !important;
    border-color: rgb(226, 101, 43) !important;
    width: 170px;
    padding: 10px !important;
    font-size: 20px !important;
    border-radius: 20px !important;
}

.btn-orange:hover {
    background-color: rgb(214, 92, 35) !important;
    filter: drop-shadow(0px 3px 4px rgb(224, 103, 47));
}

.batn {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.kontakt {
    margin-top: 300px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.odkazy a {
    font-size: 15px !important;
    color: rgb(114, 114, 114);
    text-decoration: underline;
}

.odkazy a:hover {
    color: rgb(97, 97, 97);
}

.odkazy a:active {
    color: rgb(114, 114, 114);
}

.odkazy i {
    color: rgb(226, 101, 43);
}

.odkazy span {
    color: rgb(114, 114, 114);
}

.nadpis2 {
    margin-bottom: 20px;
}